/* surapat code start */
body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}
/* surapat code stop */


#header {
    background-color: rgba(245, 245, 245, 0);
    border: 3px black solid;
    text-align: center;
  }
  
#mainContent {
  
    background-color: rgb(239, 66, 66);
    border: 3px black solid;
    display: flex;
}

#container1{
    background-color: lightgreen;
    text-align: center;
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(247, 6, 194);
}

#container2{
    background-color: lightblue;
    text-align: center;
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(247, 255, 1);
}
#container3{
    background-color: lightseagreen;
    text-align: center;
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(255, 166, 0);
}
    
  #links {
    background-color: whitesmoke;
    border: 3px black solid;
    text-align: center;
    ;
  }
  
  #footer {
    background-color: whitesmoke;
    border: 3px black solid;
    text-align: center;
  }
  
  ul.nav {
    padding-left: 0px;
    border: 3em;
    border-color: black;
    text-align: center;
    height: 100%;
    overflow-x: auto;
    white-space: nowrap;
    overflow: scroll;
    
  }
  ul.nav > img {
    scroll-padding-inline-start: 0 ;
    max-width: 200px;
    display: inline-block;
    padding: 10px 10px;
  }
  ul.nav > img:hover{
    background-color: rgb(255, 0, 0);
  }
  ul.nav > img > a {
    color: black;
    text-decoration: none;
  }

/* surapat code start */
  :root {
    --bgColor: var(--bgColor);
}

body {
    background-color: var(--bgColor);
    animation: colorChange 0.5s alternate infinite;
}
/* surapat code stop */

